*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* класс для всех скрытых элементов формы
 чтоб потом отрисовать заново */
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 800px;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 30px;
  width: 1140px;
  max-height: 534px;
}

/*СЕКЦИЯ с видео*/
.result {
}
/*блок див с видео*/
.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}
/*само видео*/
.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*форма поиска*/
.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* объединенеие элементов формы 
(один класс на город и время суток)*/
.search-form__fieldset {
  border: none;
}
/* заголово формы поиска
(один класс на город и время суток)*/
.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
}
/* метка формы поиска
(один класс на город и время суток(все 3)) */
.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  width: fit-content;
  margin-top: 5px;
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label:has(.search-form__checkbox):hover {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
}
/* форма поиска инпут */
.search-form__textfield {
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding-left: 0;
  color: #ffffffb2;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  background-color: inherit;
  appearance: none;
  inline-size: 225px;
}

.search-form__textfield:focus {
  outline: none;
}

/* блок див внутри объединения элементов формы для времени суток
внутри которого элементы чекбокса для выбора времени суток
 */
.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-color: #fff;
}
/* общий класс для кнопок */
.button {
  border: 1px solid #fff;
  color: inherit;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.button:hover {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}
/* кнопка найти в форме города и времени суток */
.search-form__submit-button {
  align-self: end;
  width: 194px;
}
/*СЕКЦИЯ с карточками*/
.content__details {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 26px;
  width: 100%;
  height: 100%;
}

/* главный заголовок */
.title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
}
/* спан для заголовка */
.content__accent {
  color: #545050;
}
/* список карточек справа который */
.content__list {
  position: relative;
  max-height: 298px;
  padding-right: 2px;
  overflow-y: auto;
}
/* элемент списка карточки(ли) для отступов */
.content__list-item:not(:last-child) {
  margin-bottom: 32px;
}
/* ссылка внутри списка ли */
.content__card-link {
  display: block; /*  добавлено чтоб был фон в активном состоянии*/
  margin: 2px;
  color: inherit;
  text-decoration: none;
}
.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

/* артикл внутри ссылки */
.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  height: 107px;
}
/* див внутри артикл */
.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 6px;
}
/* заголовок внутри див */
.content__video-card-title {
  padding-top: 2px;
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
/* текст (р) внутри див */
.content__video-card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
}
/* картинка внутри артикл */
.content__video-card-thumbnail {
  align-self: center;
  width: 194px;
  height: 103px;
  object-fit: cover;
}
/* класс специфичный для этой кнопки */
.more-button {
  width: 100%;
}
