*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 800px;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: end;
  width: 1140px;
  gap: 30px;
}
/* класс для всех скрытых элементов формы
 чтоб потом отрисовать заново */
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/*СЕКЦИЯ с видео*/
.result {

}
/*блок див с видео*/
.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}
/*само видео*/
.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*форма поиска*/
.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
/* объединенеие элементов формы 
(один класс на город и время суток)*/
.search-form__fieldset {
  border: none;
}
/* заголово формы поиска
(один класс на город и время суток)*/
.search-form__fieldset-title {
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  
}
/* метка формы поиска
(один класс на город и время суток(все 3)) */
.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  width: fit-content;
  margin-top: 5px;
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label:has(.search-form__checkbox):hover {
text-decoration-line: underline;
text-decoration-style: solid;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}

/* текс формы поиска города и время суток(все 3)
(видимо будет скрыт) */
.search-form__label-text {

}
/* форма поиска инпут */
.search-form__textfield {
  appearance: none;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-color: inherit;
  inline-size: 225px;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #FFFFFFB2;
  padding-left: 0;
}

.search-form__textfield:focus {
  outline: none;
}

/* блок див внутри объединения элементов формы для времени суток
внутри которого элементы чекбокса для выбора времени суток
 */
.search-form__checkbox-list {
display: flex;
flex-direction: row;
gap: 15px;
}
/* форма поиска чекбокс для времени сутов
(есть доп класс визуали хиден */
.search-form__checkbox {

}
/* спан после кождого чекбокса для времени суток
видимо для создания новых стилей для галочек */
.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  background-color: #fff;
}
/* обзий класс для кнопок */
.button {
  cursor: pointer;
  background-color: transparent;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: inherit;
  border: 1px solid #fff;

}

.button:hover {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}
/* кнопка найти в форме города и времени суток */
.search-form__submit-button {
  align-self: end;
  width: 194px;
}

/*СЕКЦИЯ с карточками*/
.content__details {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 26px; 
}

/* главный заголовок */
.title {
  font-family: Oswald;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-underline-position: from-font;
  text-transform: uppercase;
}
/* спан для заголовка */
.content__accent {
  color: #545050;
}
/* список карточек справа который */
.content__list {
  position: relative;
  max-height: 298px;
  overflow-y: auto;
  margin: 0 2px 2px; /* добавлкен костыль чтоб на кнопке прифокусе была видна обводна, убрать и придумать другое решение*/
}
/* дальше темплейты */
/* темплейт с карточками */
.cards-list-item-template {

}
/* элемент списка карточки(ли) */
.content__list-item {

}

/* элемент списка карточки(ли) для отступов */
.content__list-item:not(:last-child) {
  margin-bottom: 32px;
}
/* ссылка внутри списка ли */
.content__card-link {
  display: block; /*  добавлено чтоб был фон в активном состоянии*/
  text-decoration: none;
  color: inherit;
}
.content__card-link_current {
  background-color: #545050;
}

/* артикл внутри ссылки */
.content__video-card {
display: flex;
flex-direction: row;
align-items: start;
justify-content: start;
height: 107px;
}
/* див внутри артикл */
.content__video-card-description-container {
  flex-grow: 1;
}
/* заголовок внутри див */
.content__video-card-title {
  font-family: Oswald;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
}
/* текст (р) внутри див */
.content__video-card-description {
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  
}
/* картинка внутри артикл */
.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  align-self: center;
}
/* темплат с кнопкой внутри */
.more-button-template {

}
/* класс специфичный для этой кнопки */
.more-button {
  width: 100%;
}